### **Bibliotecas:**

In [3]:
import numpy as np
import pandas as pd

### **Coleta dos dados:**

In [4]:
!wget -q "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/credito.csv" -O credito_raw.csv

In [5]:
credito = pd.read_csv('credito_raw.csv')
credito.head(3)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20

### **Preparação dos dados:**

In [6]:
credito.shape

(10127, 16)

In [7]:
credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       10127 non-null  int64
 1   default                  10127 non-null  int64
 2   idade                    10127 non-null  int64
 3   sexo                     10127 non-null  object
 4   dependentes              10127 non-null  int64
 5   escolaridade             10127 non-null  object
 6   estado_civil             10127 non-null  object
 7   salario_anual            10127 non-null  object
 8   tipo_cartao              10127 non-null  object
 9   meses_de_relacionamento  10127 non-null  int64
 10  qtd_produtos             10127 non-null  int64
 11  iteracoes_12m            10127 non-null  int64
 12  meses_inativo_12m        10127 non-null  int64
 13  limite_credito           10127 non-null  object
 14  valor_transacoes_12m     10127 non-null  object
 15  qtd_transacoes_12m       10127 non-null  int64
dtypes: int64(9), object(7)
memory usage: 1.2+ MB

In [8]:
credito.isna().sum()

id                         0
default                    0
idade                      0
sexo                       0
dependentes                0
escolaridade               0
estado_civil               0
salario_anual              0
tipo_cartao                0
meses_de_relacionamento    0
qtd_produtos               0
iteracoes_12m              0
meses_inativo_12m          0
limite_credito             0
valor_transacoes_12m       0
qtd_transacoes_12m         0
dtype: int64

> **Transformando as colunas `limite_credito` e `valor_transacoes_12m`. Pois elas precisam estar configuradas como floats na AWS**

In [9]:
credito[['limite_credito', 'valor_transacoes_12m']].head(1)

  limite_credito valor_transacoes_12m
0      12.691,51             1.144,90

> **Trocando o separador decimal para ponto e excluindo as vírgulas:**

In [10]:
#limite_credito	valor_transacoes_12m	qtd_transacoes_12m
credito['limite_credito'] = credito['limite_credito'].apply(
    lambda valor: valor.replace('.','').replace(',','.')
)
credito['valor_transacoes_12m'] = credito['valor_transacoes_12m'].apply(
    lambda valor: valor.replace('.','').replace(',','.')
)

> **Convertendo o tipo de dado para float:**

In [11]:
credito['limite_credito'] = credito['limite_credito'].astype('float')
credito['valor_transacoes_12m'] = credito['valor_transacoes_12m'].astype('float')

> **Checagem:**

In [12]:
credito.dtypes

id                           int64
default                      int64
idade                        int64
sexo                        object
dependentes                  int64
escolaridade                object
estado_civil                object
salario_anual               object
tipo_cartao                 object
meses_de_relacionamento      int64
qtd_produtos                 int64
iteracoes_12m                int64
meses_inativo_12m            int64
limite_credito             float64
valor_transacoes_12m       float64
qtd_transacoes_12m           int64
dtype: object

> **Excluindo colunas que não serão utilizadas:**

In [13]:
credito.drop(['meses_de_relacionamento', 'iteracoes_12m'], 
                    axis=1, inplace=True)

In [14]:
credito.columns

Index(['id', 'default', 'idade', 'sexo', 'dependentes', 'escolaridade',
       'estado_civil', 'salario_anual', 'tipo_cartao', 'qtd_produtos',
       'meses_inativo_12m', 'limite_credito', 'valor_transacoes_12m',
       'qtd_transacoes_12m'],
      dtype='object')

**Baixando o novo notebook**

In [15]:
credito.to_csv('credito.csv', index=False, header=False)